* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.list-group {
  padding: 1rem;
}

footer p {
  background-color: aqua;
  text-align: center;
}

main p {
background-color: aqua;
text-align: center;
height: 50px;
font-size:  30px;
}